*{
    margin: 0;
    padding: 0;
    font-family: Consolas;
    color: #1A5276;
}
body{
    /* set the property of backround image */
    background-image: url('./background.jpg'); 
    background-size: cover;
    background-size: 100% 100%;
    background-attachment:fixed;
    background-color:#CCCCCC;
    background-repeat: no-repeat;
    background-position: center;
}
/* layout of header */
header{
    display: flex;
    justify-content:space-between;
    margin: 30px;
}
.navbar{
    display: flex;
    margin: 10px;
}
.material-icons{
    font-size: 30px;
}
input{
    background-color: transparent;
    border-radius: 15px;
    border-color: #1A5276;
}
input:focus{
    background-color: transparent;
    border-radius: 15px;
    outline-color: #5499C7;
}
button{
    margin-left: 5px;
    border-radius: 15px;
    background-color: transparent;
    width:35px;
}
button:active{
    margin-left: 5px;
    border-radius: 15px;
    background-color: transparent;
    width:35px;
    border-color:#5499C7 ;
}

/* layout of main part */
main{
    display: flex;
    height: 70vh;
    align-items: flex-end;
    margin: 50px;
    font-size: 30px;
}
main p{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right: 30px;
}
.current_weather i{
    display: flex;
    justify-content: center; 
}
