*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: #1A5276;
}
body{
    /* set the property of backround image */
    background-image: url('./background.jpg'); 
    background-size: cover;
    background-size: 100% 100%;
    background-attachment:fixed;
    background-color:#CCCCCC;
    background-repeat: no-repeat;
    background-position: center;
}
/* layout of header */
header{
    display: flex;
    justify-content:space-between;
    margin: 30px;
}
.navbar{
    display: flex;
    margin: 10px;
}
.material-icons{
    font-size: 30px;
}
input{
    background-color: transparent;
    border-radius: 15px;
    border-color: #1A5276;
}
input:focus{
    background-color: transparent;
    border-radius: 15px;
    outline-color: #5499C7;
}
button{
    margin-left: 5px;
    border-radius: 15px;
    background-color: transparent;
    width:35px;
}
button:active{
    margin-left: 5px;
    border-radius: 15px;
    background-color: transparent;
    width:35px;
    border-color:#5499C7 ;
}

/* layout of main part */
.wrapper{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px;
    flex-direction: column;
}

.left{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 25px;
    /* height: 30%; */
    
}
.right{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 25px;
}
li{
    list-style: none;
}
.botton{
    height: 5vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    margin: 20px;
}
.botton ul{
    margin: 10px;
}